# emacs
*~

# private
.private/*

# MacOS
**/.DS_Store

# ???
.npm/*
.*json
.config/*
.bash*
.lein/*
.config/*
Library/Caches/*
Library/Preferences/*
.nvm/
.ts_node_repl_history
.z
.zcompdump-*  
Library/Application Support/